#!/bin/bash

# git aliases
alias git-log='git --no-pager log --graph --pretty="%Cred%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%ad)%Creset -%C(auto)%d%Creset %s" --date=short'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
